.introduction {
    text-align: center;
    display: inline-block;
  }
  
  .introduction-text {
    margin-bottom: 0;
  }

  .section {
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
  }

  
  .section-container {
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 160px;
    padding-bottom: 160px;
  }
    
  .section-container.header-component {
    padding: 0;
  }
  
  .section-container.footer-component {
    padding: 0;
  }
  
  .section.colored {
    background: #D8AB94;
    /* background: #EBEBEB; */
  }