.header {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    color: white;
  }
  
  .header-wrapper {
    position: relative;
  }
  
  .scroll-down-btn {
    text-align: center;
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
  }
  
  .header h6 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .header h3 {
    text-transform: uppercase;
    letter-spacing: 9px;
  }

  .section {
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
  }
  
  .section-container {
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 160px;
    padding-bottom: 160px;
  }

  .section-container.header-component {
    padding: 0;
  }
  
  .section-container.footer-component {
    padding: 0;
  }

  .header-section {
    background: #16151C;
  }