body {
  /* background: url(fullstack-native.jpg) no-repeat center center fixed; */
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  height: calc(100% - 65px);
  height: -o-calc(100% - 65px); /* opera */
  height: -webkit-calc(100% - 65px); /* google, safari */
  height: -moz-calc(100% - 65px); /* firefox */
}
html {
  background: #354051;
  /* Or any color / image you want */
}